.app-container {
  display: flex;
}

.content {
  width : 100%;
}

.sidebar {
  min-height: 700px;
}

.postcard {
  margin: 20px 30px;
}
.hashtag {
  margin : 0 3px;
}
.reactions {
  margin: 15px 0 0 0;
}

.create-post {
  width : 80%;
  border : 1px solid black;
  margin-top: 15px;
  margin-left: 10%;
  padding: 2%;
}
 
